{% trans_default_domain 'FOSUserBundle' %}

<div class="login-box">
    <div class="login-logo">
        <img src="{{ asset('img/hr_app.png') }}" class="hr-logo card-shadow" />
        <h3>{{ 'app.title'|trans({}, 'messages') }}</h3>
    </div>

    <div class="login-box-body card-shadow">
        <p class="login-box-msg">{{ 'reset.request.modt'|trans({}, 'messages') }}</p>

        <form action="{{ path('fos_user_resetting_send_email') }}" method="post" style="margin-bottom: 1rem;">
            <div class="form-group has-feedback">
                <input type="text" id="username" class="form-control" name="username" placeholder="{{ 'resetting.request.username'|trans }}" required="required" autocomplete="username" />
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn bg-hr-color btn-block btn-flat">
                        {{ 'resetting.request.submit'|trans }}
                    </button>
                </div>
            </div>
        </form>

        <a href="{{ path('fos_user_security_login') }}">{{ 'reset.request.login'|trans({}, 'messages') }}</a><br>
    </div>
</div>
