{% if background is not defined %}
    {% set background = true %}
{% endif %}
<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="rav3map is an app that allows you to easily plan a rave and invite your friends! It has precise navigation and a friends invitation system!">
    <meta name="author" content="Frederik Roettgerkamp">
    <meta name="keywords" content="rave,event,party,techno,germany,nrw">
    <meta http-equiv="content-Type" content="text/html; utf-8" />
    <meta http-equiv="Pragma" content="cache" />
    <meta name="publisher" content="rav3map" />
    <meta name="copyright" content="2021 rav3map" />
    {% block meta %}{% endblock %}
    <title>rav3map - {% block title %}{% endblock %}</title>

    <link rel="canonical" href="https://ravemap.tk/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{{ asset('img/logo/logo_small_icon_only_inverted.png') }}" sizes="180x180" />
    <link rel="icon" href="{{ asset('img/logo/logo_small_icon_only_inverted.png') }}" sizes="32x32" type="image/png" />
    <link rel="icon" href="{{ asset('img/logo/logo_small_icon_only_inverted.png') }}" sizes="16x16" type="image/png" />
    <link rel="mask-icon" href="{{ asset('img/logo/logo_small_icon_only_inverted.png') }}" color="#212121" />
    <link rel="icon" href="{{ asset('img/logo/logo_small_icon_only_inverted.png') }}" />
    <meta name="theme-color" content="#212121">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
</head>
<body class="bg-body">

{% if background %}
<div style="position: fixed; z-index: -99; width: 100%; height: 100vh">
    <video id="backgroundVideo" width="100%" height="100%" autoplay muted>
        <source src="{{ asset('background_ravemap.mp4') }}" type="video/mp4">
    </video>
</div>
{% endif %}

<header class="ravemap-header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a href="{{ path('homepage') }}">
                <img src="{{ asset('img/logo/logo_white_large.png') }}" class="logo" alt="{{ app_name }}" />
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    {% for page in main_nav_pages(app.request.locale) %}
                        <li>
                            <a href="{{ path('ravemap_static_page_by_slug', {'slug': page.slug}) }}" class="nav-link px-2 {% if page.slug in app.request.uri %}text-white{% else %}text-secondary{% endif %}">
                                {{ page.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="text-end">
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-outline-light me-2">
                        <i class="fas fa-sign-in-alt"></i>
                        Anmelden
                    </a>
                    <button type="button" class="btn btn-warning">
                        <i class="fas fa-user"></i>
                        Registrieren
                    </button>
                    {% if background %}
                        <button type="button" id="mute" class="btn btn-outline-secondary">Unmute</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="container">
    {% if app.request.session.started %}
        {% for event in app.session.flashbag.get('event_accepted') %}
            <div class="alert alert-success" role="alert">
                {{ 'invite.accepted'|trans({'event': event}, 'invites') }}
            </div>
        {% endfor %}
        {% for event in app.session.flashbag.get('event_denied') %}
            {{ 'invite.denied'|trans({'event': event}, 'invites') }}
        {% endfor %}
        {% for event in app.session.flashbag.get('event_maybe') %}
            {{ 'invite.maybe'|trans({'event': event}, 'invites') }}
        {% endfor %}
    {% endif %}


    {% block body %}{% endblock %}
</main>

<footer class="ravemap-footer d-flex flex-row justify-content-between ">
    <div class="d-flex flex-row container text-light pt-5 pb-5">
        <div class="d-flex flex-column">
            <div>
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('img/logo/logo_small.png') }}" class="logo" alt="{{ app_name }}" />
                </a>
                <p class="mt-0 mb-0 text-light small-text">Made with &hearts; in Dortmund!</p>
                <p class="mt-0 mb-0 text-light small-text">&copy; 2021. All righs reserved</p>
            </div>
        </div>
        <div class="d-flex flex-column flex-fill container-fluid p-5 pt-0">
            <h4 class="text-secondary mb-0">Menü</h4>
            {% for page in footer_nav_pages(app.request.locale) %}
                <a href="{{ path('ravemap_static_page_by_slug', {'slug': page.slug}) }}" class="small-text">{{ page.title }}</a>
            {% endfor %}
        </div>
        <div class="d-flex">
            <a href="#" class="text-dark fs-4">
                <i class="fas fa-arrow-up"></i>
            </a>
        </div>
    </div>
</footer>

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/jquery.flipper-responsive.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c6574c4030.js" crossorigin="anonymous"></script>
<script>
    jQuery(function($){
        $('#myFlipper').flipper('init');

        {% if background %}
            $('#mute').on('click', (event) => {
                event.preventDefault();
                $('#backgroundVideo')[0].volume = 0.2;
                $('#backgroundVideo')[0].muted = !($('#backgroundVideo')[0].muted);

                if ($('#backgroundVideo')[0].muted) {
                    $('#mute').text('Unmute');
                } else {
                    $('#mute').text('Mute');
                }
            });
        {% endif %}
    });
</script>
</body>
</html>
